<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans         
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">



	<bean class="com.SpringCoreWithSetter.StudentBean"  name="stuObj">
		<property name="stuId">
			<value>01</value>
		</property>
		
		
		<property name="stuName" >
			<value>Abdul Rehman</value>
		</property>
	<!--  other way to assign the to the property -->
		<property name="address" value=" sakrand" />
		
	</bean>
	
	
		<!--  other way to assign the to the property -->
	<bean class="com.SpringCoreWithSetter.AddressBean"  name="add" p:street ="1" p:city="sakrand" p:contry="pakistan"/>
			


</beans>









